*.xlsx
output
*.rds
inst/doc
*.tex
*.log
_targets
docs
cache
.DS_Store
.Rproj.user
*.Rproj
!inst/extdata/*.rds
/doc/
/overleaf_to_word/
/Meta/
*.Rhistory
.vscode
/figures/
/vignettes/*_cache/
.here
*.pdf
*.html
CRAN-SUBMISSION
